<!--todo change class customer-notes to other (change icon???) and mdi mdi-account-supervisor - also change-->

<li class="customer-subaccounts">
    <a href="@Url.RouteUrl("CustomerSubAccounts")" class="@if(false)  
{
    <text>active</text>
}
else
{
    <text>inactive</text>
}"><b-icon icon="person-plus"></b-icon> <span>@Loc["Account.SubAccounts"]</span></a>
</li>


