<!--todo change class customer-notes to other (change icon???) and mdi mdi-account-supervisor - also change-->

<li class="customer-subaccounts">
    <a href="@Url.RouteUrl("Plugin.UserMonetaryCreditInfo")" target="_blank" class="@if(false)
       {
    <text>active</text>
}
else
{
    <text>inactive</text>
}"><b-icon icon="person-plus"></b-icon> <span>@Loc["Plugins.Leo.MonetaryCredit.MenusName"]</span></a>
</li>


